<!--! Esto es el calendario para escoger fechas en Sprint 2 se desarrolla-->

<!-- views/calendario.ejs -->
<link href="/css/calendarioStyle.css" rel="stylesheet">

<div class="calendario-container">
    <div class="calendario-inner">
        <label for="date-range">Fechas de estancia:</label>
        <input type="text" id="date-range" class="form-control" placeholder="Selecciona las fechas de llegada y salida">
        <button id="save-dates" class="btn btn-secondary" disabled>Ver habitaciones</button> <!-- !Botón para guardar las fechas seleccionadas: deshabilitado -->
    </div>
</div>

<!-- OJO: hay que Flatpickr JS (el calendario) y el archivo de traducción al español del mismo-->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>

<script>
    // Inicializar Flatpickr en el campo de rango de fechas con configuración en español
    flatpickr("#date-range", { // Seleccionar el campo de rango de fechas
        mode: "range", // Modo de rango de fechas
        dateFormat: "Y-m-d", // Formato de fecha
        minDate: "today", // No permitir seleccionar fechas anteriores a hoy
        locale: "es" // Aca se configuro el idioma a español
    });

    // Aca se configuro el evento click del boton para guardar las fechas seleccionadas
    document.getElementById("save-dates").addEventListener("click", function() { 
        const dateRange = document.getElementById("date-range").value; // Obtenemos el valor del campo de rango de fechas
        const dates = dateRange.split(" to "); // Separamos las fechas de llegada y salida
        const checkinDate = dates[0]; // Obtenemos la fecha de llegada que sera [0] en el array
        const checkoutDate = dates[1]; // Obtenemos la fecha de salida que sera [1] en el array
        console.log("Fecha de llegada:", checkinDate); // Mostramos la fecha de llegada en la consola
        console.log("Fecha de salida:", checkoutDate); // Mostramos la fecha de salida en la consola

        // Falta enviar las fechas a la base de datos o hacer esa hechiceria de primer nivel
    });
</script>
