<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Principal</title>
    <script src="/metodos_inicio_sesion/usuario.js"></script>
    <script src="/habitacion.js"></script>
</head>
<body>
    <h1>CRUD Principal</h1>

    <section id="crud-usuario">
        <h2>CRUD Usuarios</h2>
        <%- include('usuario') %>
    </section>

    <hr>

    <section id="crud-habitacion">
        <h2>CRUD Habitaciones</h2>
        <%- include('habitacion') %>
    </section>
</body>
</html>
