<h2 class="text-center">Inicio de sesión</h2>
    <form onsubmit="event.preventDefault(); login();">
        <div class="form-group">
            <label for="correo">Correo Electrónico:</label>
            <input type="email" class="form-control" id="correo" name="correo" placeholder="Ingresa tu correo" required>
        </div>
        <div class="form-group">
            <label for="clave">Clave:</label>
            <input type="password" class="form-control" id="clave" name="clave" placeholder="Ingresa tu clave" required>
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            
            <button type="button" class="btn btn-secondary d-inline-block ml-2" onclick="window.location.href='/newHome'">Volver</button>
        </div>

    </form>

    <div class="text-center mt-3">
        <a href="/newRegister" class="btn btn-link">¡Registra tu cuenta gratis aquí!</a>
    </div>

    