<h2 class="text-center">Inicio de sesión</h2>
    <form onsubmit="event.preventDefault(); login();">
        <div class="form-group">
            <label for="correo">Correo Electrónico:</label>
            <input type="email" class="form-control" id="correo" name="correo" placeholder="Ingresa tu correo" required>
        </div>
        <div class="form-group">
            <label for="clave">Clave:</label>
            <input type="password" class="form-control" id="clave" name="clave" placeholder="Ingresa tu clave" required>
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </div>
    </form>