<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Principal</title>
    <script src="/login.js"></script>
    <script src="/validacion.js"></script>
</head>
<body>
    <h1>Login</h1>

    <section id="registro-usuario">
        <h2>Registro de usuario</h2>
        <%- include('formularios/form-inicio-sesion') %>
    </section>
    <hr>

</body>
</html>
