<!DOCTYPE html>
<html lang="en">
<head>
    <!--!! PAGINA SI NO ENCUENTRA -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página no encontrada</title>
    <!-- Bootstrap CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/errorStyle.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center mt-5">
        <h1>404 - Página no encontrada</h1>
        <p>Lo sentimos, el lugar del hotel al que deseas acceder en Reef Reserve no existe.</p>
        <a href="/newHome" class="text-primary d-block mb-3">Volver a Home</a>
        <img src="/images/notfound.png" class="d-inline-block align-top custom-img" alt="Logo">
    </div>

    <!-- Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>