<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/generalStyle.css" rel="stylesheet">
    <!-- Incluir Flatpickr CSS -->
    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
</head>

<body>
    <!-- Inclui el menú superior -->
    <%- include('menu') %>

    <!-- Contenido principal -->
    <div class="container">
        <h1 class="mt-5 bebas-neue">TU DESCANSO</h1>
        <h1 class="mt-5 bebas-neue">NUESTRA PRIORIDAD</h1>

                <!-- !Inclui el calendario: no es funcional, Sprint 2 se desarrolla -->
                <%- include('calendario') %>

                <!-- Catalogo provisorio, luego se hará esto desde "ver habitaciones"-->
                <div class="text-center mt-4">
                    <button type="button" class="btn btn-primary" onclick="window.location.href='/clientCatalog'">Ver Catálogo temporal</button>
                </div>
    </div>
    

    <!-- Bootstrap JS y las dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/authManager.js"></script>
</body>
</html>