<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de Habitación</title>
    <!-- Bootstrap CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/roomStyle.css" rel="stylesheet">
</head> 
<body>
    
    <div class="container mt-5">
        <h1 class="text-center">Información de Habitación</h1>
        <form>
            <div class="row justify-content-center">
                <div class="col-md-6 text-left"> <!-- Alinear hacia la izquierda -->
                    <input type="hidden" id="roomId">

                    <div class="form-group">
                        <label for="numero_hab">Número de Habitación:</label>
                        <p id="numero_hab_text" class="border p-2 bg-light"></p>
                        <input type="hidden" id="numero_hab">
                    </div>


                    
                    <div class="form-group">
                        <label for="info_hab">Información de la Habitación:</label>
                        <div id="info_hab_text" class="border p-2 bg-light expanded-field" style="min-height: 100px;" readonly></div>
                        <input type="hidden" id="info_hab">
                    </div>
                    
                    <div class="form-group">
                        <label for="equipamiento_hab">Equipamiento de la Habitación:</label>
                        <div id="equipamiento_hab_text" class="border p-2 bg-light expanded-field" style="min-height: 100px;" readonly></div>
                        <input type="hidden" id="equipamiento_hab">
                    </div>
                    


                    <div class="form-group">
                        <label for="valor_diario_hab">Valor Diario:</label>
                        <p id="valor_diario_hab_text" class="border p-2 bg-light"></p>
                        <input type="hidden" id="valor_diario_hab">
                    </div>
                    <div class="form-group">
                        <label for="id_ubicacion">Ubicación:</label>
                        <p id="id_ubicacion_text" class="border p-2 bg-light"></p>
                        <input type="hidden" id="id_ubicacion">
                    </div>
                    <div class="form-group">
                        <label for="id_estado">Estado:</label>
                        <p id="id_estado_text" class="border p-2 bg-light"></p>
                        <input type="hidden" id="id_estado">
                    </div>
                    <div class="form-group">
                        <label for="id_categoria">Categoría:</label>
                        <p id="id_categoria_text" class="border p-2 bg-light"></p>
                        <input type="hidden" id="id_categoria">
                    </div>

                    <%- include('carrousel') %> <!-- Incluir el carrusel -->

                    <button type="button" class="btn btn-primary" onclick="reserveRoom()">Reservar</button>

                    <button type="button" class="btn btn-secondary mt-2" onclick="window.location.href='/clientCatalog'">Volver al Catálogo</button>

                </div>
            </div>
        </form>
    </div>
    <!-- Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/roomManager.js"></script>
    <script src="/js/client-viewRoom.js"></script>
</body>
</html>
