<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/generalStyle.css" rel="stylesheet">
</head>

<body>
    <!-- Inclui el menú superior -->
    <%- include('menu') %>

    <!-- Contenido principal -->
    <div class="container mt-5">
        <h1 class="text-center">Panel de Administración</h1>
        <div class="text-center mt-4">
            <a href="/adminUserList" class="btn btn-primary">Administración de usuarios</a>
            <a href="/adminRoomList" class="btn btn-primary">Administración de habitaciones</a>
        </div>
        <div class="text-center mt-5">
            <a href="/newHome" class="btn btn-secondary">Volver</a>
        </div>
    </div>

    <!-- Bootstrap JS y las dichosas dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/userManager.js"></script> 
</body>
</html>