/* public/css/generalStyle.css */

html, body {
    background: url('/images/background.png') no-repeat center center fixed; /* Imagen de fondo */
    background-size: cover; /* Asegurar que la imagen cubra toda la pantalla */
    font-family: Arial, sans-serif;
    color: #ffffff; /* Texto blanco para mejor contraste */
    margin: 0; /* Eliminar margen predeterminado */
    padding: 0; /* Eliminar padding predeterminado */
    height: 100%; /* Asegurar que el cuerpo ocupe toda la altura de la ventana */
}

h1 {
    color: #ffffff; /* Texto blanco */
    text-align: center;
    margin-top: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.container {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semi-transparente para el contenedor */
    min-height: 100vh; /* Asegurar que el contenedor ocupe toda la altura de la ventana */
}

.btn-custom {
    background-color: #007bff;
    color: white;
}

.alert-custom {
    background-color: #28a745;
    color: white;
}


