/* public/css/calendarioStyle.css */

/* Centrar el contenedor y ajustar el ancho del campo de entrada */
.calendario-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.calendario-inner {
    width: 30%; /* Ajustar el ancho a 30% para hacerlo más angosto */
}

#date-range {
    width: 100%;
}

#save-dates {
    width: 100%;
    margin-top: 1rem;
}