html, body {
    background: url('/images/background.png') no-repeat center center fixed; /* Imagen de fondo */
    background-size: cover; /* Asegurar que la imagen cubra toda la pantalla */
    font-family: Arial, sans-serif;
    color: #ffffff; /* Texto blanco para mejor contraste */
    margin: 0; /* Eliminar margen predeterminado */
    padding: 0; /* Eliminar padding predeterminado */
    height: 100%; /* Asegurar que el cuerpo ocupe toda la altura de la ventana */
}

h1 {
    margin-bottom: 2rem;
}

.container {
    background: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    color: black; /* Color de texto negro para el contenedor */
}

form div {
    margin-bottom: 1.5rem;
}

label {
    font-weight: bold;
    color: black; /* Asegurarte de que las etiquetas sean negras */
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

button {
    width: 100%;
}

button#updateBtn {
    background-color: #007bff;
    color: white;
}

button#updateBtn:hover {
    background-color: #0056b3;
}

button#updateBtn:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

button#createBtn {
    background-color: #28a745;
    color: white;
}

button#createBtn:hover {
    background-color: #218838;
}

button#createBtn:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

pre {
    margin-top: 1rem;
    background: #e9ecef;
    padding: 1rem;
    border-radius: 0.25rem;
}

/*Estilo para el campo equipamiento e informacion mas amplio y texto se alinea hacia abajo*/
.expanded-field {
    width: 100%; /* Esto es lo que asegura que el ancho sea del 100% */
    padding: 0.375rem 0.75rem; /* Espaciado interno */
    border: 1px solid #ced4da; /* Borde igual que los inputs */
    border-radius: 0.25rem; /* Esquinas redondeadas */
    resize: vertical; /* Permite redimensionar solo verticalmente */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    min-height: 100px; /* Altura mínima para asegurar que haya espacio */
    overflow-y: auto; /* Agrega scrollbar si es necesario */
    font-size: 1rem; /* Tamaño de fuente igual al de otros campos */
    line-height: 1.5; /* Altura de línea para mejor legibilidad */
}